# Windows Temp Cache Files
[Tt]humbs.db

#Visual Studio files
*.[Oo]bj
*.aps
*.pch
*.vspscc
*.vssscc
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.sbr
*.sdf
*.opensdf
*.xccheckout
ipch/
obj/
Tracktion/**/[Bb]in
Tracktion/**/[Dd]ebug*/
Tracktion/**/[Rr]elease*/
Tracktion/**/[Dd]ebug64*/
Tracktion/**/[Rr]elease64*/

# Build products
build/
*.o

# Other source repository archive directories (protects when importing)
.hg
.svn
CVS

#Other files
._*
*.mode1v3
*.pbxuser
*.perspectivev3
*.user
*.suo
*.obj
*.ilk
*.pch
*.pdb
*.dep
*.idb
*.manifest
*.manifest.res
*.o
*.d
*.sdf
*.xcscmblueprint
xcuserdata
contents.xcworkspacedata
.DS_Store
.svn
Tracktion/Builds/MacOSX/build
Tracktion/Builds/Linux/build
install/Tracktion_*
install/Tracktion*.exe
install/Tracktion*.dmg
install/tracktion/usr/bin
install/tracktion/Tracktion6
install/tracktion/Tracktion7
tracktion*.deb

examples/projects